language: elixir
elixir:
  - 1.1.1
  - 1.2.0
  - 1.2.1
  - 1.2.2
otp_release:
  - 18.0
  - 18.1
  - 18.2
sudo: false
script:
  - mix test
  - mix espec --silent
  - mix espec --format=json --out=spec.json
  - mix espec --format=html --out=spec.html
notifications:
  recipients:
    - anton.mishchuk@gmail.com
